<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <modules>
            <!-- Add modules here if needed -->
        </modules>
        <handlers>
            <!-- Define handlers here if needed -->
        </handlers>
        <directoryBrowse enabled="true" />
    </system.webServer>
    <system.web>
        <identity impersonate="true" />
    </system.web>
</configuration>
